/* GENERAL */
* {
    font-family: 'Nunito', sans-serif;
}

/* TITLES */
h2 {
    font-weight: bolder;
    margin: 20px auto !important;
}

h3 {
    font-family: 'Leckerli One', cursive;
}

h4 {
    font-family: 'Leckerli One', cursive;
}

/* COLOURS */
.text-color-dark {
    color: #1F1F1F !important;
}

.text-color-light {
    color: #F1F1F1 !important;
}

/* NAVBAR */
.navbar-logo {
    height: 50px;
    width: auto;
}

/* NEW POST */
.text-area-post {
    min-height: 200px;
    max-height: 450px;
    width: 100%;
    margin: 0 auto;
}

.btn-send {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin: 0 auto;
    float: right;
}
