/* GENERAL */
* {
    font-family: 'Nunito', sans-serif;
}

.margin-bottom {
    margin-bottom: 100px;
}

/* TITLES */
h2 {
    font-weight: bolder;
    margin: 20px auto !important;
}

h3 {
    font-family: 'Leckerli One', cursive;
}

h4 {
    font-family: 'Leckerli One', cursive;
}

/* COLOURS */
.text-color-dark {
    color: #1F1F1F !important;
}

.text-color-light {
    color: #F1F1F1 !important;
}

/* NAVBAR */
.navbar-logo {
    height: 50px;
    width: auto;
}

/* NEW POST */
.text-area-post {
    min-height: 200px;
    max-height: 450px;
    width: 100%;
    margin: 0 auto;
}

.btn-send {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-left: 10px;
    float: right;
}

.new-post-title-class {
    width: 100%;
    margin: 10px auto;
    float: right;
}

.new-post-title-label {
    margin: auto 0;
}

.form-select {
    padding: 5px;
    border: none;
    border-radius: 10px;
}

/* CATEGORY LIST */
.container {
    margin: 0 auto;
}

.category_banner {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.card-topic {
    margin-bottom: 20px;
    max-width: 550px;
    max-height: auto;
}

@media (max-width: 570px) {
    .card-topic {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.card-category {
    font-weight: 600;
    color: #8F8F8F;
}

/* HOMEPAGE CAROUSEL */
.carousel-inner img {
    width: 100%;
}

.carousel-item {
    height: 400px;
    min-width: 100% !important;
    width: 100% !important;
}

.category_carousel_title {
    padding: 5px 14px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

/* TOPIC DETAILS*/
.topic-details-header {
    margin-top: 50px;
}

.topic-details-body {
    border: 1px solid #eeeeee;
    background-color: rgba(241, 249, 255, 0.84);
    border-radius: 10px;
    margin: 30px 0 10px 0;
    padding: 20px;
    width: 100%;
}

.text-area-comment {
    min-height: 100px;
    max-height: 250px !important;
    width: 100%;
    margin: 0 auto;
}

/* FOOTER */
footer {
    background-color: #FFF !important;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-copyright {
    margin: 30px auto;
    text-align: center;
    color: #5E5E5E;
}


